#flex {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
}
#s-signup-div {
  background-color: white;
  color: black;
}
#main-div {
  color: white;
  height: 100vh;
  width: 100%;
  background-image: url("https://assets.oyoroomscdn.com/cmsMedia/b3c9905c-31d1-4349-8594-c07deae6b36d.jpg");
  background-size: cover;
}
.s-main-div {
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 0 80px;
}
.s-left-div {
  /* margin-top: 20px; 
  */
  /* margin: auto; */
  margin-top: 50px;
  width: 600px;
}
