h1, h2, h3, h4, h5, h6{
    font-weight: 600 !important;
    color: rgb(34, 34, 34) !important;
}
.slideImageBox{
    width: 50%;
    
}
#rightArrow{
    position: absolute;
    border: 1px solid gray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 35%;
    right: 20px;
    background-color: rgba(182, 182, 182, 0.575);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    cursor: pointer;
}
#leftArrow{
    position: absolute;
    cursor: pointer;
    border: 1px solid gray;
    width: 50px;
    height: 50px;
    top: 35%;
    left: 20px;
    border-radius: 50%;
    background-color: rgb(182, 182, 182, 0.575);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}
#all-Items-slidebar-mover{
    gap: 2px;
    background-color: white;
}