.login {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #e94846;
  color: white;
  border-radius: 10px 10px 0 0;
  align-items: center;
  margin-top: 20px;
}
.login > div {
  display: flex;
}
.login p {
  margin: 0;
}
.login > button {
  color: white;
  background-color: #f48876;
  border: none;
  padding: 10px;
}
.displayprice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.displayprice > div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.displayprice > div > p:nth-of-type(2) {
  text-decoration: line-through;
  font-size: 22px;
}
.displayprice > div > p:first-of-type {
  font-weight: 700;
  font-size: 28px;
}
.displayprice > div > p:nth-of-type(3) {
  color: #f49242;
}
.displayprice p {
  margin: 0;
}
.rooms {
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  font-weight: 700;
}
.Tprice {
  margin-top: 20px;
}
.Tprice > div {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.Tprice > div > p:last-of-type {
  font-weight: 700;
}
.Tprice p {
  margin: 0;
}
.booknow {
  width: 100%;
  margin-top: 20px;
  background-color: #58ac00;
  color: white;
  border: none;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
}
