.kk_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
.kk_nav a {
  color: grey;
  text-decoration: none;
}
.kk_nav > div {
  display: flex;
  gap: 10px;
}
.kk_nav > :last-child {
  color: black;
}
.kk_nav a:hover {
  cursor: pointer;
  color: red;
}
.collapse {
  display: none;
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .kk_nav {
    display: none;
  }
  .collapse {
    display: flex;
    padding: 10px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
  }
}
