@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

* {
  font-family: "Roboto", sans-serif;
}
.saveCancel:hover {
  background-color: white;
  color: #ee2e24;
}
.selectButton:hover{
  background-color: green !important;
}