#login_nav {
  height: 120px;
  /* background-color: black; */
  color: white;
  display: flex;
  align-items: center;
  /* background-color: rgba(0,0,0,.5); */
  color: black;
  color: white;
  font-weight: bold;
}
.login_elem {
  display: flex;
  align-items: center;
  padding-left: 100px;
  background-color: transparent;
}
.login_elem > p {
  font-size: 20px;
  margin-left: 20px;
}
