* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.abk-footer {
  background: #6d787d;
  padding: 30px 70px;
  color: #fff;
}
.abk-footer-sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  margin-bottom: 10px;
}
.abk-footer-sec1 div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.abk-footer-sec1 div:nth-of-type(1) {
  border: none;
  padding-bottom: 30px;
  display: flex;
}
.abk-footer-sec1 div:nth-of-type(2) p,
.abk-footer-sec1 div:nth-of-type(1) p {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.6px;
  line-height: 27px;
  color: #f4fcfe;

}
.abk-footer-sec1 div:nth-of-type(2) button {
  width: 173px;
  height: 48px;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 13px;
  color: #6f787c;
}
.abk-footer-sec1 div:nth-of-type(2) button img {
  margin-right: 5px;
}
.abk-footer-sec1 div:nth-of-type(1) > *,
.abk-footer-sec1 div:nth-of-type(2) > * {
  margin-right: 15px;
  object-fit: contain;
}
.abk-footer-sec2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 30px 80px; */
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  /* gap:-40%; */
}
.abk-footer-sec2 div:nth-of-type(1) {
  border: none;
  display: grid;
  grid-template-columns: 40% 60%;
}
.abk-footer-sec2 div:nth-of-type(1) p {
  width: 180%;
  margin-bottom: 10px;
}

.abk-footer-sec2 div:nth-of-type(2) {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 40%;
  border-right: 1px solid hsla(0, 0%, 100%, 0.5);
  padding-left: 45px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.5);
}
.abk-footer-sec2 div:nth-of-type(2) p {
  /* border: 2px solid red; */
  font-size: 15px;
  margin: 10px;
}
.abk-footer-sec2 div:nth-of-type(2) p:hover {
  text-decoration: underline;
}
.abk-footer-sec2 div:nth-of-type(3) p {
  margin: 20px;
  font-size: 15px;
}
.abk-footer-sec2 div:nth-of-type(3) p:hover {
  text-decoration: underline;

}

.abk-footer-sec2 div:nth-of-type(4) {
  display: grid;
  /* border: 2px solid red; */
  font-size: 15px;
  /* margin-bottom: px; */
}
.abk-footer-sec2 div:nth-of-type(4) p {
  font-size: 15px;
  margin: 10px;
}
.abk-footer-sec2 div:nth-of-type(4) p:hover {
  text-decoration: underline;
}

.abk-footer-sec3-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.abk-footer-sec3-flex div {
  text-align: left;
}
.abk-footer-sec3 > h2 {
  text-align: left;
}
.abk-footer-sec3 {
  padding: 35px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}
.abk-footer-sec3 p {
  margin: 14px;
  font-size: 14px;
  font-weight: 500;
  /* line-height: 1.2; */
}
.abk-footer-sec3 p:hover {
  text-decoration: underline;
}
.abk-footer-sec4 {
  padding: 35px 35px 0px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.abk-footer-sec4 > div {
  display: flex;
}
.abk-footer-sec4 img {
  margin-right: 25px;
  cursor: pointer;
}
/* .abk-footer-sec4 p {
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    
  
    letter-spacing: 0.005em;
  
    
  
    color: #f4fcfe;
  } */
